.formacao {
    padding: 2rem;
    background-color: #4b769f;
    text-align: center;
  }
  
  .formacao h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  .education-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  
  .school-info {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.02);
    }
  }
  
  .school-info h3 {
    margin: 0.5rem 0;
    color: #00d2df;
  }
  
  .course,
  .year {
    margin: 0.25rem 0;
    color: #666;
  }
  