.about-me {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 100px;
    color: #666;
  }
  
  .about-me h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .about-me-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
    border: 5px solid #00d2df; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .about-me-text {
    max-width: 600px;
    text-align: left;
  }

  @media (max-width: 768px) {
    .about-me-content {
        flex-direction: column;
        gap: 0;
    }
  }
  